*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    font: inherit;
}

body {
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #e4eaed;
}
a{
    text-decoration: none;
}
/*the title */
.title-part{
    margin-bottom: 2rem;
}
.main-title {
    font-family: "Libre Baskerville", serif;
    text-transform: uppercase;
    color: #192655;
    font-weight: bold;
    line-height: 47px;
    font-size: 44px;
    letter-spacing: 1.76px;
    position: relative;
    margin: auto;
    text-align: center;
    display: table;
    width: fit-content;
    width: -moz-fit-content;
    z-index: 1;
    transition: all 0.3s ease;
}

.main-title .secondWord {
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
    font-size: 44px;
    letter-spacing: 1.92px;
}

.main-title:before {
    content: "";
    width: 50%;
    height: 100%;
    background-color: #AEDEFC;
    position: absolute;
    top: 0;
    left: -5px;
    z-index: -1;
    transition: all 1s 0.5s ease;
    animation: title 0.8s ease;
    animation-fill-mode: forwards;
}

@keyframes title {
    0% {
        width: 0;
    }
    100% {
        width: 20%;
    }
}

/*form*/
.box {
    position: relative;
    width: 420px;
    height: 600px;
    background: #AEDEFC;
    border-radius: 8px;
    overflow: hidden;
}

.box::before {
    width: 440px;
    height: 540px;
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, transparent, #192655, #192655, #192655);
    z-index: 1;
    animation: animate 6s linear infinite;
}

.box::after {
    width: 440px;
    height: 540px;
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, transparent, #192655, #192655, #192655);
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -3s;
}

.border-line {
    position: absolute;
    top: 0;
    inset: 0;
}

.border-line::before {
    width: 440px;
    height: 540px;
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, transparent, #005B41, #005B41, #005B41);
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.border-line::after {
    width: 440px;
    height: 540px;
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    transform-origin: bottom right;
    background: linear-gradient(0deg, transparent, transparent, #512B81, #512B81, #512B81);
    z-index: 1;
    animation: animate 6s linear infinite;
    animation-delay: -4.5s;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.box form {
    background: #DAF5FF;
    position: absolute;
    inset: 4px;
    padding: 50px 40px;
    border-radius: 8px;
    z-index: 2;
    display: flex;
    flex-direction: column;
}

.box form h2 {
    color: #192655;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.1rem;
    font-size: 1.2rem;
}

.box form .input-box {
    position: relative;
    width: 300px;
    margin-top: 35px;
}

.box form .input-box input {
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    color: #AEDEFC;
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: 0.05rem;
    transition: 0.5s;
    z-index: 10;
}

.box form .input-box span {
    position: absolute;
    left: 0;
    padding: 20px 0px 10px;
    pointer-events: none;
    color: #7286D3;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    transition: 0.5s;
}

.box form .input-box input:valid~span,
.box form .input-box input:focus~span {
    color: #192655;
    font-size: 0.75rem;
    transform: translateY(-34px);
}

.box form .input-box i {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #192655;
    border-radius: 4px;
    overflow: hidden;
    transition: 0.5s;
    pointer-events: none;
}

.box form .input-box input:valid ~ i,
.box form .input-box input:focus ~ i {
    height: 44px;
}

.box form .links {
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.box form .links a {
    margin: 10px 0;
    font-size: 0.75rem;
    color: #7286D3;
    text-decoration: none;
}

.box form .links a:hover,
.box form .links a:nth-child(2) {
    color: #192655;
}

.box form input[type="submit"],
.box form input[type="reset"]{
    border: none;
    outline: none;
    padding: 9px 25px;
    color: #AEDEFC;
    background: #192655;
    cursor: pointer;
    font-size: 0.9rem;
    border-radius: 4px;
    width: 100px;
    margin-top: 10px;
    font-weight: 600;
}

.box form input[type="submit"]:hover,
.box form input[type="submit"]:active,
.box form input[type="reset"]:hover,
.box form input[type="reset"]:active  {
    opacity: 0.8;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
@media (max-width: 400px) {
    .box form {
        padding: 50px 30px;
    }
}
/*icons*/
.icons-part{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top:1.5rem;
    
}
.socialList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    flex-flow: row wrap;
}

.socialList li {
    margin: 5px;
}

.socialList li:first-child {
    padding-left: 0;
}

.socialList li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    text-decoration: none;
    background-color: #999;
    color: #fff;
    transition: .35s;
}

.socialList li a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: top left;
    transform: scale(1) translate(-50%, -50%);
    transition: .35s;
}

.socialList li a:hover i {
    transform: scale(1.5) translate(-50%, -50%);
}

.socialList li:nth-child(1) a {
    background-color: #135cb6;
}

.socialList li:nth-child(2) a {
    background-color: #00aced;
}

.socialList li:nth-child(3) a {
    background-color: #bd087e;
}

.socialList li:nth-child(4) a {
    background-color: #111111;
}

.socialList li:nth-child(5) a {
    background-color: #1FB381;
}

.shareLink .permalink {
    position: relative;
    border-radius: 30px;
}
/*createAccount*/
.mains{
 display: flex;
 flex-direction: row;
}
.hidden{
    display:none;
}
.create-account-form a{
    font-size: 4rem;
    color: #192655;
}
#qrcode{
    margin: 0.5rem auto;
}
.goBack{
    margin:0.7rem auto;
}